#root{
    width:80vw;
    height:80vh; 
}
.nav{
    width:99vw;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height:50px;
    background-color:black;
    color: white;
}
.sys{
    color: red;
}

.imgs{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.nav-left{
display: flex;
gap: 10px;
margin-right: 50px;
}
.nav-right{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 10px;
    margin-right: 50px;
    }
.profilename{
    color: white;
}
.content{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
table{
    width: 80%;
}

table, th, td {
    border: 1px solid black;
  }

  .edt{
      background-color: green;
      color: white;
      border-style: none;
      border-radius: 5px;
      padding: 5px;
      width: 60px;
  }
  .del{
    background-color: red;
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    width: 60px;
}